* {
  box-sizing: border-box;
}

/* Fontface */

@font-face {
  font-family: lato;
  src: url(/fonts/lato/Lato-Regular.ttf);
}

/* BASIC */

html {
  font-family: lato, serif;
  color: #606060;
}

body {
  font-size: 0.875rem;
  margin: 0;
}

button {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

/* Layout */
.container {
  max-width: 100%;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-wrap: wrap;
}

.card-aside-content {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 10px;
}

/* SCREENS */

.screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.screen-read-more {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}


body.menu-open .screen {
  visibility: visible;
  opacity: 0.8;
}
/* header */

.logo {
  padding-inline-start: 15px;
}

header {
  background-color: #292929;
}

.main-header .main-nav li {
  padding: 0;
  font-size: 1rem;
  border: 0.5px solid #1f1f1f;
  border-top: none;
  border-bottom: none;
  width: 130px;
  height: 130px;
  font-weight: 700;
  justify-content: center;
  cursor: pointer;
}
.main-header .main-nav li:hover {
  border-bottom: 7.5px solid #58c83a;
  transition: 0.3s;
}

.main-header .main-nav li a {
  text-decoration: none;
  color: #c6c6c6;
}

.main-header .main-nav a:hover {
  color: #58c83a;
}
/* Cards  */

.card:first-of-type {
  padding-top: 8px;
}

.card:not(:last-of-type) {
  padding-bottom: 80px;
}

.card-title {
  color: #4f4e4e;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

header button {
  display: none;
}

.card p {
  padding: 0;
  margin: 25px 0;
}

.card button {
  border: 1px solid #c2c2c2;
  color: #c2c2c2;
  background-color: #fff;
  border-radius: 80px;
  padding: 12px 26px;
  font-size: 1rem;
  letter-spacing: 0.48px;
  font-weight: 700;
  cursor: pointer;
}

.card button:hover span {
  display: none;
}

.card button:hover {
  border: 1px solid #64cd49;
  color: #64cd49;
  transition: 0.3s;
}

.card button:hover:before {
  content: "Cointinue Reading →";
}

.card-text {
  font-size: 1rem;
  padding: 0;
  margin-top: 57.92px;
  margin-block-start: 2.75rem;
}

.card-container .card-image {
  padding: 0 10px;
  margin-bottom: 10px;
  height: 350px;
  width: 100%;
  object-fit: cover;
}

/* Pagnation */

.pagenation-container {
  height: 4.625rem;
  width: 100%;
  font-size: 1.25rem;
  border-top: 1px solid #e1e0e0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0 1.875rem;
}

.pagenation-container a {
  text-decoration: none;
  color: inherit;
}

.pagenation-container a:hover {
  cursor: pointer;
  color: #64cd49;
}

/* Footer */

footer {
  background-color: #f8f8f8;
  padding-top: 5rem;
  border-top: 1px solid #e1e0e0;
}

.footer-content > :not(:last-child) {
  margin-bottom: 2.187rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* Socials */
footer .main-socials li {
  padding: 0;
  font-size: 1rem;
  background-color: #e5e5e5;
  width: 2.5rem;
  height: 2.5rem;
  font-weight: 700;
  justify-content: center;
  cursor: pointer;
  margin-inline-end: 1.25rem;
  margin-block-end: 5rem;
}

footer .main-socials li:hover {
  transition: 0.3s;
}

footer .main-socials li a {
  text-decoration: none;
  color: #c6c6c6;
}

footer .main-socials a:hover {
  color: #58c83a;
}

.ig:hover {
  background-color: #e95950;
}
.fb:hover {
  background-color: #4267b2;
}
.tw:hover {
  background-color: #1da1f2;
}
.lkd:hover {
  background-color: #2867b2;
}

/* Read More Modal */


.read-more {
  top: 400px;
  width: 100%;
  position: fixed;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: .8s;
}

.show {
  opacity: 1;
  visibility: visible;
}

.show-screen {
  opacity: 0.8;
  visibility: visible;
}

.read-more-content {
  padding: 30px 30px;
  width: 500px;
  height: 350px;
  margin: auto;
  border: 1px solid grey;
  background-color: #fff;
}

.read-more-btn {
  text-align: center;
}

.read-more .read-more-btn button {
  border: 1px solid #c2c2c2;
  color: #c2c2c2;
  background-color: #fff;
  border-radius: 80px;
  padding: 12px 36px;
  font-size: 1rem;
  letter-spacing: 0.48px;
  font-weight: 700;
  cursor: pointer;
}



.read-more .read-more-btn button:hover span {
  display: none;
}

.read-more .read-more-btn button:hover {
  border: 1px solid #64cd49;
  color: #64cd49;
  transition: 0.3s;
}

.read-more .read-more-btn button:hover:before {
  content: "Close X";
}

/* Helpers */

/* flex helpers */

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* list-helpers */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Border Helper */

.lrb-borders {
  border-bottom: 1px solid #e1e0e0;
  border-right: 1px solid #e1e0e0;
  border-left: 1px solid #e1e0e0;
}

/* Extra Narrow */

@media (min-width: 750px) {
  .card:first-of-type {
    padding-top: 5rem;
  }
  .container {
    max-width: 800px;
  }
  .card-container .card-image {
    padding: 0 0;
    margin-bottom: 0;
    width: 40%;
    object-fit: cover;
  }
  .card {
    flex-wrap: nowrap;
  }
  .card p {
    padding: 0;
    margin: 0;
  }
  .card-aside-content {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 40.96px;
  }
}

/* Narrow */

@media (min-width: 980px) {
  .card:first-of-type {
    padding-top: 80px;
  }
  .container {
    max-width: 880px;
    margin: 0 auto;
  }
  .card-container .card-image {
    padding: 0 0;
    margin-bottom: 0;
    width: 40%;
    object-fit: cover;
  }
  .card {
    flex-wrap: nowrap;
  }
  .card p {
    padding: 0;
    margin: 0;
  }
  .card-aside-content {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 40.96px;
    padding-inline-end: 40.96px;
  }
}

/* Normal */

@media (min-width: 1100px) {
  .card:first-of-type {
    padding-top: 80px;
  }
  .card-container .card-image {
    padding: 0 0;
    margin-bottom: 0;
    height: 307px;
    object-fit: cover;
  }
  .container {
    max-width: 980px;
    margin: 0 auto;
  }

  .card {
    flex-wrap: nowrap;
  }
  .card p {
    padding: 0;
    margin: 0;
  }
  .card-aside-content {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 40.96px;
  }
}

@media (max-width: 700px) {
  header {
    padding: 20px 0;
  }
  header button {
    display: block;
    margin-inline-end: 10px;
  }
  body.menu-open .main-header .main-nav {
    transform: translateX(0%);
    opacity: 1;
  }
  .main-header .main-nav {
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 66px;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.8s;
    /* opacity: 0; */
  }
  .main-header .main-nav li {
    color: black;
    background-color: #fff;
    border: 1px solid gray;
    width: 375px;
    height: 100px;
    margin: 10px 0;
  }
  .main-header .main-nav li a {
    color: rgb(77, 69, 69);
  }
}
